.right-flex-container {
  display: flex;
  justify-content: right;
}

.right-flex-container > div {
    margin: 3px;
    padding: 3px;
}

a{
    color: #202124;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial,sans-serif;
    font-size: 14px;
}
.centre-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}
.centre-flex-container > div {
    margin: 3px;
    padding: 3px;
}
button {
    background-color: #f8f9fa;
    border:1px solid #f8f9fa;
    border-radius:4px;
    color:#3c4043;
    font-family:arial,sans-serif;
    font-size: 14px;
    margin:11px 4px;
    padding: 0 16px;
    line-height: 36px;
    min-width:54px;
    text-align: center;
    cursor:pointer;
    user-select:none;
}
button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color:#f8f9fa;
    border:1px solid #dadce0;
    color:#202214;
}
button:focus {
    border:1px solid #4285f4;
    outline: none;
}
input[type="search"] {
    display: flex;
    z-index: 3;
    height: 44px;
    padding-left:28px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border:1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
}
input[type="search"]:hover {
    box-shadow:2px 2px 2px 1px rgba(0,0,0,.1);
}
input[type="search"]:focus {
    outline: none;
    box-shadow:2px 2px 2px 1px rgba(0,0,0,.1);
}

